body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(200, 200, 200);
}

.popup {
  margin: auto;
  height: 80vh;
  width: 80vw;

  background-color: white;

  display: flex;
}

.cat-pic {
  object-fit: cover;
  width: 50%;
}

.right-side {
  padding: 5%;
}

.close {
 
 right: 0;
}

.info {
  padding: 5%;
}

